header{
    background: linear-gradient(#a10400, #1a056f);
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
}

.flex{
   display: flex;
}

.titre{
   width: 1000px;
   margin-top: 20px;
   margin-left: 0%;
   display: inline-block;
   font-size: 1.25em;
}

.cercle_header{
   padding-left: 20px;
   padding-top: 15px;
   margin-left: 4%;
   margin-right: 10px;
   margin-top: 5px;
   text-align: left;
   font-size: 18px;
   border-radius: 100px;
   height: 70px;
   width: 120px;
   background-color: rgba(161, 4, 0, 0.20);
   display: inline-block;
}
.Fond{
   display: flex
}
.commun{
   width: 100%;
   height: 100%;
   display: inline-block;
}
#imgcom:hover{
   background-image: url(./img/communards2.png)
}
#gouver{
   width: 100%;
   height: 100%;
   display: inline-block;
}

/* ----------- communards.html --------------------- */

.journal #im{
   position: absolute;
   margin-top: 25px;
   margin-left: 800px;
   height: 200px;
   width: 125px;
   transition-timing-function: linear;
   transition-duration :1s;
  /* -ms-transform: rotate(80deg); /* IE 9
   transform: rotate(20deg);*/
}
.journal #im:hover{
   margin-left: 80px;
   width: 700px;
   height: 900px;
 /* -ms-transform: rotate(0deg); /* IE 9
   transform: rotate(0deg);*/
}

/* ----------- gouvernement.html --------------------- */

.journalDeux #imDeux{
   position: absolute;
   margin-left: 25px;
   margin-top: 25px;
   height: 200px;
   width: 125px;
   transition-timing-function: linear;
   transition-duration :1s;
  /* -ms-transform: rotate(80deg); /* IE 9
   transform: rotate(20deg);*/
}
.journalDeux #imDeux:hover{
   margin-left: 80px;
   width: 700px;
   height: 900px;
  /* -ms-transform: rotate(0deg); /* IE 9
   transform: rotate(0deg);*/
}
