.fondRouge{
  position: absolute;
  top: 100px;
  z-index: 0;
  filter: blur(10px);
  max-width: 100%;
  height: auto;
}
.contPapierAgrand{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.papierAgrand{
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 105%;
}
.manchetteGauche{
  width: 18%;
  margin-left: 2%;
  text-align : left;
}
.manchetteCentre{
  width: 40%;
  text-align : center;
}
.manchetteDroite{
  width: 18%;
  margin-right: 2%;
  text-align : right;
}
.separateurH{
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 2;
  position: relative;
  border: 1px solid black;
  width: 76%;
  margin-left: 2%;
  margin-right: 2%;
}
.manchetteArticle{
  display: inline-block;
  z-index: 2;
  position: relative;
  font-style: normal;
  margin-top: 15px;
}
.titreArticle{
  z-index: 2;
  position: relative;
  font-style: bold;
  font-size: 80px;
  text-align: center;
  width: 76%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.sousTitreArticle{
  z-index: 2;
  position: relative;
  font-style: bold;
  font-size: 60px;
  text-align: center;
  width: 76%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.texteArticle{
  z-index: 2;
  text-align: justify;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
}
.lienArticle{
  color: black;
  font-style:italic;
  font-size: 1.05em;
}
.col_1-2{
  margin-top: 10px;
  display: inline-block;
  z-index: 2;
  position: relative;
  margin-left: 2%;
  width: 50%;
}
.col_3-3{
  display: inline-block;
  z-index: 2;
  position: relative;
  margin-right: 2%;
  width: 25%;
}
.col_1{
  margin-top: 10px;
  display: inline-block;
  z-index: 2;
  position: relative;
  margin-left: 2%;
  width: 47%;
}
.col_2{
  margin-top: 10px;
  display: inline-block;
  z-index: 2;
  position: relative;
  width: 47%;
  margin-left: 2%;
}
