div#mp3_player{
  width:500px;
  height:100px;
  /*background:#000;*/
  padding:5px;
  margin:50px auto;
 }
div#mp3_player > div > audio{
  width:500px;
  /*background:#000;*/
  float:left;
}
div#mp3_player > canvas{
  width:500px;
  height:50px;
  background:rgba(0,0,0,0.5);
  float:left;

}
button#lance{
  margin-left: 50px;
  border-radius: 50px;
  font-size: 1em;
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 200px;
  padding: 1em 2em;
  color: #4d4d4d;
  background-color: #F0F0F0;
}
body{
  background-color: #222222;
}

.containerDefil {
    width: 18em;
    height: 8em;
    margin: 1em auto;
    overflow: hidden;
    background: white;
    position: relative;
    box-sizing: border-box;
}

.marquee {
    top: 6em;
    position: relative;
    box-sizing: border-box;
}
  .defilementVertical{
    animation: animVert 15s linear /*infinite*/;
  }
  .arretDefil{
    animation-play-state: paused;
  }
  .playDefil{
    animation-play-state: running;
  }

@keyframes animVert {
    0%   { top:   8em }
    100% { top: -11em }
}
.toggleButton{
  margin-left: 50px;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 100px;
  padding: 1em 2em;
  color: #4d4d4d;
  background-color: #F0F0F0;
}
