header{
    background: linear-gradient(#22088A, #11024F);
    height: 100px;
    width: 100%;
    color: white;
    text-align: left;
    font-size: 30px;
}
a{
  color: white;
}
.flex{
   display: flex;
}
.titre{
   width: 1000px;
   margin-top: 20px;
   margin-left: 0%;
   display: inline-block;
   font-size: 1.05em;
}
.cercle_header{
   padding-left: 20px;
   padding-top: 15px;
   margin-left: 4%;
   margin-right: 10px;
   margin-top: 5px;
   text-align: left;
   font-size: 18px;
   border-radius: 100px;
   height: 70px;
   width: 120px;
   background-color: rgba(161, 4, 0, 0.20);
   display: inline-block;
}
.Fond{
   display: flex
}
.commun{
   width: 100%;
   height: 100%;
   display: inline-block;
}
#imgcom:hover{
   background-image: url(./img/communards2.png)
}
#gouver{
   width: 100%;
   height: 100%;
   display: inline-block;
}
